/* Reset styles */
body, html {
  margin: 0;
  padding: 0;
  color: #000; /* Changed to black text color for better contrast */
  background-color: #f0f0f0; /* Changed to a slightly darker background color */
}

header{
  background-color: rgb(140, 145, 140);
  padding: 1em;
  color:white;
}
footer {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(140, 145, 140);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

nav ul {
  list-style: none;
  margin: 30px;
}

nav ul li {
  display: inline;
  margin-right: 180px;
}

nav a {
  color:whitesmoke;
  text-decoration: none;
}

a:hover {
  color:green;
  background-color: rgb(249, 106, 106);
  border-radius: 2px;
  padding: 1em;
}

.card {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  border: 2px solid #e9e5e5;
  padding: 20px;
  margin-bottom: 20px; /* Add margin between cards */
  margin: 10px;
  background-color: rgb(246, 248, 246);
}

#close-menu {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  background-color: rgb(166, 180, 146);
}

.main-content img:hover{
  opacity: 1;
  transition: 1s;
  transform: scale(1);
}






