@media (min-width: 768px) {
    main {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: auto;
    }
    .laptop {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: auto;
    }
    .card {
        width: 48%;
        display: inline-block;
        vertical-align: top;
        border-radius: 10px;
        border: 2px solid #e9e5e5;
        padding: 20px;
        margin-bottom: 20px; /* Add margin between cards */
        margin: 10px;
        background-color: rgb(246, 248, 246);
    }

    footer {
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(140, 145, 140);
        border-radius: 10px;
        padding: 20px;
        margin-top: 20px;
    }

   /* Add CSS for the hamburger menu */
.menu-icon {
    display: block;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px auto;
    transition: transform 0.3s, opacity 0.3s;
}

.show-menu .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.show-menu .bar:nth-child(2) {
    opacity: 0;
}

.show-menu .bar:nth-child(3) {
    transform: translateY(-3px) rotate(-25deg);
}

/* Hide menu items by default on smaller screens */
nav ul {
    display: block;
}

/* Display menu items when hamburger menu is clicked */
.show-menu nav ul {
    display: block;
}
}


.container {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

.main-content .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Hover effect */
.image-grid img.hover-effect {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
