@media (min-width: 768px) {
  /* Styles for header */
  nav ul {
      display: inline;
  }
  
  header {
      color: white;
  }

  /* Styles for navigation */

  nav {
      display: flex;
      justify-content: space-around;
      padding: 0.5em 1em;
  }
     
  /* Styles for main content */

  main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 70%;
      margin: 0 auto;
  }

  .card {
      width:45%;
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 3px;
      display: block;
      overflow: hidden;
  }
}


.iframe-container {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 300px;
    width: 1000px;
  }
  
  iframe {
    max-width: 1000%; /* Adjust as needed */
    max-height: 900vh; /* Adjust as needed */
    border: none;
  }
  
  @media screen and (min-width: 768px) {
    .iframe-container {
        height: 80vh; /* Adjust as needed */
    }
  }
  